<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <form onsubmit="createGroup(event)">
                <label for="grpName">Grop name</label>
                <input type="text" id="grpName" class="form-control" required>
                <button type="submit" class="btn btn-info">Add users</button>
        </form>
        <div class="container">
            <h4 id="paragraph"></h4>
            <ul id="list"></ul>
        </div>
    </div>
    <script src="./group_name.js">
        
    </script>
    </body>

</html>